@import "tailwindcss";

@theme {
  /* Background */
  --color-background: #0B1120;

  /* Main Text */
  --color-foreground: #F8FAFC;

  /* Cards */
  --color-card: #111827;

  /* Surface (hover, navbar, sections) */
  --color-surface: #1E293B;

  --color-border: #334155;

  --color-primary: #10B981;

  --color-primary-foreground: #FFFFFF;

  --color-secondary: #1E293B;

  --color-secondary-foreground: #CBD5E1;

  --color-muted: #1F2937;

  --color-muted-foreground: #94A3B8;

  --color-highlight: #34D399;

  --radius: 0.75rem;
}

@layer base{

  html{
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Inter', sans-serif;
  }

  .font-serif{
    font-family: 'Playfair Display', serif;
  }
}

@layer components{
  .glass{
    background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
    backdrop-filter: blur(18px);
    border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);

  }
}